---
layout: learn
parent: soap
---

<h1>SOAP Web Services</h1>

<p>
    SOAP Web Services are one of Blackboard Learn's legacy integrations, and have been deprecated in favor of the more modern REST APIs. This section is designed to help you, the developer, 
    migrate existing Web Service integrations to REST. 
</p>

<p>
    <strong>NOTE</strong>: These are deprecated and will be removed from a release in the very near future. You should use Blackboard Learn's <a href="/learn/REST" target="_self">REST APIs</a> 
    and IMS Global's Learning Tools Interoperability (<a href="/standards" target="_self">LTI</a>). 
</p>


<h2>In this section:</h2>

{% if site.data.learn[0] %}
    {% for item in site.data.learn %}
            {% if item.parentId == page.parent %}
                <ul>
                    {% for entry in item.categories %}
                        <li><a href="{{ entry.link }}" class="header-section-link" >{{ entry.name }}</a></li>
                        <ul>
                            {% for subentry in entry.topics %}
                                <li><a href="{{ subentry.link }}" class="header-section-link" >{{ subentry.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
        {% endif %}
    {% endfor %}
{% endif %}