---
layout: ally
title: Blackboard Ally
---

<h2>Blackboard Ally</h2>

<p>
    Ally as a Service is a standalone, separately licensed API to apply specific components of Ally's approach to content within your application. 
    In its initial form, you are able to upload files, process them through Ally's accessibility checklist,
    and retrieve data that tells you what can be improved. This is only the tip of the iceberg, so make sure you continue to
    monitor this amazing capability for enhancements moving forward. For more information, including a conversation about pricing,
    reach out to your Account Executive.
</p>

<h2>In this section:</h2>

{% if site.data.ally[0] %}
<ul>
    {% for item in site.data.ally %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            <ul>
                {% for entry in item.categories %}
                    <li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
                        <ul>
                            {% for subentry in entry.topics %}
                                <li><a href="{{ subentry.link }}">{{ subentry.name }}</a></li>
                            {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endif %}