<div class="col s5">
    <div class="card">
        <div class="optional-header">
            <a href="/category/{{ post.category | lower | slugify }}/">
                <div class="thumbnail"><img src="/assets/img/{{ post.category | lower }}.svg" alt="the category is {{ post.category }}" /></div>
            </a>
            <div class="primary-title">
                <div class="title">{{ post.author }}</div>
                <div class="subhead"><em>{{ post.date | date_to_long_string }}</em></div>
            </div>
        </div>
        <div class="card-content">
            <div class="primary-text">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="supporting-text">
                {{ post.summary }}
            </div>
        </div>
        <div class="card-action">
            {% for tag in post.tags %} 
                <span class="chip blue-grey-text">
                    <a href="/tag/{{ tag | lower | slugify }}/" class="card-tag">
                        {{ tag | replace:'-', ' ' }}
                    </a>
                </span>
                {% endfor %}
        </div>
    </div>
</div>