<div class="clearfix"></div>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact us</h5>
          <p class="grey-text text-lighten-4">Reach us out at <a href="mailto:developers@anthology.com?subject=Support from docs">developers@anthology.com</a> if you have any questions.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Terms and Conditions</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_self" href="/legal/deprecation-policy">Deprecation Policy</a></li>
            <li><a class="grey-text text-lighten-3" target="_self" href="/legal/terms-and-conditions">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="grey-text text-lighten-4 left" target="_blank" href="https://www.anthology.com">©2022 Anthology Inc. and its affiliates. All rights reserved. </a>
      </div>
    </div>
  </footer>
</body>
<script>




      

    // This avoids page 404 to update the submenus when 404 is not part of the menu. This is not mandatory but I hate having errors in the console ¯\_(ツ)_/¯
  //   const jsPageId = pageId.substring(1);
  //   if(jsPageId == "404-notFound" || jsPageId == "index"){

  //   }else{
  //   const currentElement = document.getElementById(jsPageId);
  //   const listOfLinks = currentElement.parentElement.parentElement.getElementsByTagName("a");
  //   listOfLinks.item(0).style.fontWeight = "bold";
  // }

  window.onload = function(){
        // This modifies dynamically the menu height based on the content height
        var menu = document.getElementsByClassName('menu');
        var mainSize = document.getElementsByTagName("main");

        mainSize = mainSize[0].offsetHeight;
        mainSize = 200 + mainSize;

        menu[0].style.minHeight = mainSize + "px";
        
        // Need to resize the whole content when no toc
        var pageToc = "{{ page.toc }}";
        pageToc = pageToc.toLowerCase();
        var bodyMainContent = document.getElementsByClassName('maincontent');
        var toc = document.getElementsByClassName('toc-parent');

if(pageToc == 'false'){
    toc[0].style.display = 'none';
    bodyMainContent[0].style.width = '81%';
  } else {
    mainSize = mainSize - 100;
    toc[0].style.height = mainSize + 'px';
 }

if(pageToc == 'false'){
  window.addEventListener("resize", function(){
      if (window.innerWidth >= 1499 ) {
     bodyMainContent[0].style.width = '76%';
  } else if (window.innerWidth <= 1498 && window.innerWidth >= 985){
    bodyMainContent[0].style.width = '70%';
  } else if (window.innerWidth <= 985 && window.innerWidth >= 800){
     bodyMainContent[0].style.width = '63%';
  } else if (window.innerWidth <= 800 ){
     bodyMainContent[0].style.width = '95%';
  }
  });
}
      
      
}

</script>
</html>
