<div class="clearfix"></div>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact us</h5>
          <p class="grey-text text-lighten-4">Reach us out at <a href="mailto:developers@blackboard.com?subject=Support from docs">developers@blackboard.com</a> if you have any questions.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Terms and Conditions</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_self" href="/legal/deprecation-policy">Deprecation Policy</a></li>
            <li><a class="grey-text text-lighten-3" target="_self" href="/legal/terms-and-conditions">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="grey-text text-lighten-4 left" target="_blank" href="https://www.blackboard.com">© Blackboard, Inc</a>
      </div>
    </div>
  </footer>
</body>
<script>

        // This modifies dynamically the menu height based on the content height
        let menu = document.getElementsByClassName('menu');
        const getElementHeight = function(elementName){
            let element = document.getElementsByTagName(elementName);
            return element[0].offsetHeight;
        }  


        const updateMenuHeight = function(){
            let finalSize = getElementHeight('main')
            finalSize = (finalSize + 200 )+ 'px';
            return menu[0].style.minHeight = finalSize
        }
        
        window.addEventListener("resize", updateMenuHeight );
        window.addEventListener("load", updateMenuHeight );

        // Need to resize the whole content when no toc
        let pageToc = "{{ page.toc }}";
        pageToc = pageToc.toLowerCase();
        const bodyMainContent = document.getElementById('maincontent');
        const toc = document.getElementById('third-column-menu');


        if(bodyMainContent != null){
        window.addEventListener("resize", function(){
            if(pageToc == 'false'){
              if ( toc ){
                toc.style.display = 'none';
              }
                if (window.innerWidth >= 1499 ) {
                    bodyMainContent.style.width = '76%';
                    console.log('1499');
                } else if (window.innerWidth <= 1498 && window.innerWidth >= 985){
                    bodyMainContent.style.width = '70%';
                    console.log('1250');
                } else if (window.innerWidth <= 985 && window.innerWidth >= 800){
                  bodyMainContent.style.width = '63%';
                } else if (window.innerWidth <= 800 ){
                  bodyMainContent.style.width = '95%';
                }
            }
        });
      }
    // This avoids page 404 to update the submenus when 404 is not part of the menu. This is not mandatory but I hate having errors in the console ¯\_(ツ)_/¯
    const jsPageId = pageId.substring(1);
    if(jsPageId == "404-notFound"){

    }else{
    const currentElement = document.getElementById(jsPageId);
    const listOfLinks = currentElement.parentElement.parentElement.getElementsByTagName("a");
    listOfLinks.item(0).style.fontWeight = "bold";
  }
</script>

</html>