<!DOCTYPE html>
<html>
<head>
    <script src="/assets/js/search-script.js" type="text/javascript"></script>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173992978-1"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
 
       gtag('config', 'UA-173992978-1');
     </script>
    <title>{{ page.title }}</title>

    <!-- Search --> 

    {% if page.tipue_search_active or layout.tipue_search_active %}
        <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
        <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
        <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
        <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
        <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    {% endif %}

    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
          rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/assets/img/favicon-96x96.png">
    <!-- CSS and fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/assets/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript"  src="/assets/js/accordion-menu.js"></script>
    <script type="text/javascript"  src="/assets/js/toc.min.js"></script>
    <script>
var pageId = "{{ page.id }}";
        if (!pageId || pageId.includes('/')){
            pageId = "{{ page.post_id }}"
        }
        pageId = "#" + pageId
        $(document).ready(function () {
            

            $( "#menu-trigger" ).click(function() {
                $( ".menu" ).toggle(); 
                $( ".menu" ).css( "position", "absolute" ); 
            });
             
            new AccordionMenu('.col-menu');
            $( document ).find( "h2" ).css( "border-left-color", "#A234B5" );

            
            $( "h2,h3" ).addClass( "section scrollspy" );
            $('.scrollspy').scrollSpy();
            

            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
            // $('.collapsible').collapsible('open', pageId);

            if( $( "li" ).find( pageId ) ){
                $(pageId).addClass("open");
                $("li" + pageId ).css("display","block");
                $( "li" + pageId ).parentsUntil(".col-menu").css( "height","auto" );
                $(pageId).parentsUntil(".col-menu").addClass("open");
                $( pageId ).find( "a" ).css( "border-left-color", "#A234B5" );
                $( pageId ).find( "a" ).css( "maincontentborder-left-style", "solid" );
                $( pageId ).find( "a" ).css( "border-left-width", "6px" );
                $( pageId ).find( "a" ).css( "font-weight", "bold" );
            }
             // This is the index search, I am avoiding to load the whole search.json everywhere
            if(pageId == "#index" || pageId == "#404-notFound"){
                SimpleJekyllSearch({
                    searchInput: document.getElementById("search-input"),
                    resultsContainer: document.getElementById("results-container"),
                    json: "/search.json",
                    searchResultTemplate: '<li><a href="{url}" desc="{desc}" target="{target}">{title}</a></li>'
                });
            }
            console.log($('.maincontent').height())

});

  // This part will display the rest-apis or blogs menu
  // getting the divs first
  const homeDisplay = document.getElementsByClassName("home-main");
  const homeRestApis = document.getElementsByClassName("home-rest-apis");
  const homeBlogs = document.getElementsByClassName("home-blogs");

  function home_display_restapis() {
  homeDisplay[0].classList.add("hidden");
  homeRestApis[0].classList.remove("hidden");
  homeBlogs[0].classList.add("hidden");
}

function home_display_blogs() {
  homeDisplay[0].classList.add("hidden");
  homeBlogs[0].classList.remove("hidden");
  homeRestApis[0].classList.add("hidden");
}
    </script>

    <!--
        Ally Website Integration Script.
        "data-ally-af-style" can be one of the following values to customize the look and feel:
            - flag_small
            - flag_large
            - bar_bottom
    -->
    <script
    data-ally-loader
    data-ally-platform-name="web"
    data-ally-client-id="4826"
    data-ally-af-style="flag_small"
    src="https://prod.ally.ac/integration/api/ally.ui.js">
    </script>
    <!-- This is the index search script -->
</head>
<body>

    <header>
      <a href="/">  <img id="bblogoheader" src="/assets/img/bb_logo.png" alt="Blackboard Logo">
        <span id="dev-docs-span-text">Dev Docs</span> </a>
        <div class="header-buttons">
            <a href="/search"><i class="material-icons">search</i></a>
            <a href="/feed.xml"><i class="material-icons">rss_feed</i></a>
            <a href="#" id="menu-trigger"><i class="material-icons">menu</i></a>
        </div>
    </header>
