<div class="menu">
  <div class="accordion-menu col-menu">
    <ul>
      <li class="first-level" id="home">
        <a href="/">Home</a>
        {% for main in site.data.menu %}
      </li>
      <li class="first-level" id="{{ main.id }}">
        <a href="#"> {{ main.main_item }} </a>
          {% if main.main_item == "Blogs" %}
          <ul>
            {% for post in site.posts %}
              <li class="content" id="{{ post.post_id }}">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
          <ul>
          {% for firstlevel in main.sub_item %}
          {% if firstlevel.url %}
          <li class="content" id="{{ firstlevel.id }}">
            <a href="{{ firstlevel.url }}">{{ firstlevel.submenu_item }}</a>
          </li>
          {% else %}
          <li class="second-level" id="{{ firstlevel.id }}">
            <a href="{{ firstlevel.submenu_url }}">{{ firstlevel.submenu_item }}</a>
          {% endif %}
            <ul>
              {% for secondlevel in firstlevel.subsubmenu %}
              {% if secondlevel.url %}
              <li class="content" id="{{ secondlevel.id }}">
                <a href="{{ secondlevel.url }}">{{ secondlevel.subsubmenu_item }}</a>
              </li>
              {% else %}
              <li class="third-level" id="{{ secondlevel.id }}">
                <a href="{{ secondlevel.url }}">{{ secondlevel.subsubmenu_item }}</a>
              {% endif %}
                <ul>
                  {% for thirdlevel in secondlevel.subsubmenu_content %}
                  <li class="content" id="{{ thirdlevel.id }}">
                    <a href="{{ thirdlevel.url }}" target="{{ thirdlevel.target }}">{{ thirdlevel.subsubmenu_content_name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </li>
              {% endfor %}
            </ul>
          </li>
        </li>
      </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </li>
    </ul>
  </div>
</div>
