<!---  New menu  -->
{% include menu.html %}
<div id="body_before_container"> 
    {% if page.status == "deprecated" %}
        <div class="deprecatedPage">
            <div class="valign-wrapper">
                <i class="medium material-icons">warning</i>
                <p>This page is deprecated</p> 
            </div>
        </div>
    {% elsif page.status == "draft"  %}
        <div class="draftPage">
            <div class="valign-wrapper">
                <i class="medium material-icons">announcement</i>
                <p>This page is a Draft, its content may change </p> 
            </div>
        </div>
    {% endif %}
    <main id="maincontent">
        {{ content }}
    </main>
    <div id="third-column-menu">
        <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
                <div id="table-of-contents">
                    <div id="table-of-contents">
                        {% include toc.html html=content h_min=2 h_max=3 %}
                        </div>
                    </div>
            </ul>
            </div>
    </div>  
</div>