{% if site.data.learn[0] %}
<h3>Blackboard Learn</h3>
<ul>
{% for item in site.data.learn %}
<li><a href="{{ item.link }}">{{ item.name }}</a></li>
<ul>
{% for entry in item.categories %}
<li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
<ul>
{% for subentry in entry.topics %}
<li><a href="{{ subentry.link }}">{{ subentry.name }}</a></li>
{% endfor %}
</ul>
{% endfor %}
</ul>
{% endfor %}
</ul>
{% endif %}

<h3>Blackboard Collaborate</h3>
{% for item in site.data.collab %}
<a href="{{ item.link }}">{{ item.name }}</a><br />
{% endfor %}

<h3>Blackboard Mobile</h3>
<a href="/mobile/Blackboard%20App%20for%20Students%20Launch%20Schema.html">Mobile</a><br />

<h3>Developer Versions of Blackboard Applications</h3>
{% for item in site.data.dvba %}
<a href="{{ item.link }}">{{ item.name }}</a><br />
{% endfor %}

<h3>IMS Standards</h3>
{% if site.data.standards[0] %}
<ul>
{% for item in site.data.standards %}
<li><a href="{{ item.link }}">{{ item.name }}</a></li>
<ul>
{% for entry in item.categories %}
<li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
<ul>
{% for subentry in entry.topics %}
<li><a href="{{ subentry.link }}">{{ subentry.name }}</a></li>
{% endfor %}
</ul>
{% endfor %}
</ul>
{% endfor %}
</ul>
{% endif %}