@charset "UTF-8";

  body {
	transition: background-color .5s;
	font-family: "Open Sans";
	font-size: 12pt;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  }

  h1 {
	  font-size: 16pt;
	  font-weight: bold;
  }

  h2 {
	font-size: 14pt;
	font-weight: bold;
  }

  h3, h4, h5, h6 {
	font-size: 14pt;
	font-weight: bold;
  }

  footer {
	flex-shrink: 0;
  }

 table {
	 border: 1px solid #222222;
 }

 thead {
	 background-color: #222222;
	 color: #ffffff;
	 text-align: left;
  }

  td {
	border: 1px solid #222222;
  }
  
  pre {
	  background-color: #e4e4e4;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: inherit;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
  }
  
  .sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .btn-group {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
  }

  .btn-group button {
	background-color: #c56ed4; /* Green background */
	border: 1px solid #ffffff; /* Green border */
	padding: 14px 25px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
  }

  .btn-group button a {
	color: white; /* White text */
	width: 50px;
	list-style: none;
	margin-right: auto;
	font-weight: bold;
	font-size: 12pt;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	transition: all 0.3s linear;
	text-decoration: none;
  }

 
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  

  .inline-box-left {
    display: inline-block;
    width: 25%;
    height: 30px;
    margin: 1em;
    vertical-align: top;
  }

  .inline-box-right {
    display: inline-block;
    width: 65%;
    height: 30px;
    margin: 1em;
    vertical-align: top;
  }

  .inline-box-center {
    display: none;
  }

  /* Add an active class to the active dropdown button */
.active {
  background-color: darkorchid;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #000;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  color: white;
}

.container {
	background-color: #FFFFFF;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block;
	text-align: center;	
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 25%;
	float: left;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
}
.container .columns h4 {
	text-align: center;
  color: #212121;
  font-size: larger;
  font-weight: bolder;
}
.primary_header {
	width: 100%;
	background-color: #222222;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #c56ed4;
}
.secondary_header {
	width: 100%;
	background-color: #c56ed4;
	clear: left;
	border-bottom: 2px solid #c56ed4;
	text-align: center;
	height: fit-content;
}

.secondary_header_links a {
	width: 15px;
	list-style: none;
	margin-right: auto;
	font-weight: bold;
	font-size: 14pt;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	transition: all 0.3s linear;
	padding: 14px 25px;
	text-decoration: none;
	border-style: solid;
	border-width: 1pt;
}

.secondary_header_links a:hover {
	color: #222222;
	background-color: #ffffff;
	border-color: #222222;
	cursor: pointer;
}

.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li a nav {
	display: inline;
	list-style: none;
	margin-right: auto;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	transition: all 0.3s linear;
}

.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
}
.right_article {
	width: 40%;
	float: left;
	background-color: #F6F6F6;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}
.left_half {
	background-color: #52BAD5;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	text-align: center;
}
.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

.icon {
	display: none;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.header-devdocs {
	color:white;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight:bolder;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media (max-width: 320px) {
	.header-logos {
		height: 100px !important;
	}
	
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
	height: fit-content;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container {
	width: 100%;
}

.inline-box-left {
	display: none;
}

.inline-box-right {
	display: none;
}

.inline-box-center {
	display: inline-block;
	width: 100%;
    height: 30px;
    margin-top: 1em;
	vertical-align: top;
	text-align: center;
}
.btn-group button:not(:last-child) {display: none;}
.btn-group a:not(:last-child) {display: none;}

.btn-group .icon {
	float: right;
	display: block;
	font-size: xx-large;
	padding-top: .5em;
	border: none;
}

.btn-group.responsive {
	position: relative;
	display: block;
}

.btn-group.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	width: auto;
	padding-right: 15px;
}

.btn-group.responsive button {
	float: none;
	display: block;
	text-align: center;
	border: 1px solid #ffffff;
	width: 90%;
}

.btn-group.responsive button a {
	float: none;
	display: flex;
	justify-content: center;
	font-size: xx-large;
}

}

@media (min-width: 321px) and (max-width: 768px) {
.header-logos {
	height: 100px !important;
}

.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
	height: fit-content;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.container {
	width: 90%;
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
.inline-box-left {
	display: none;
}

.inline-box-right {
	display: none;
}

.inline-box-center {
	display: inline-block;
	width: 100%;
    height: 30px;
    margin-top: 1em;
	vertical-align: top;
	text-align: center;
}

.btn-group button:not(:last-child) {display: none;}
.btn-group a:not(:last-child) {display: none;}

.btn-group .icon {
	float: right;
	display: block;
	font-size: xx-large;
	padding-top: .5em;
	border: none;
}

.btn-group.responsive {
	position: relative;
	display: block;
}

.btn-group.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	width: auto;
	padding-right: 15px;
}

.btn-group.responsive button {
	float: none;
	display: block;
	text-align: center;
	border: 1px solid #ffffff;
	width: 90%;
}

.btn-group.responsive button a {
	float: none;
	display: flex;
	justify-content: center;
	font-size: xx-large;
}

}

@media (min-width: 769px) and (max-width: 1000px) {
.header-logos {
	height: 100px !important;
}
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	height: fit-content;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

.inline-box-left {
	display: none;
}

.inline-box-right {
	display: none;
}

.inline-box-center {
	display: inline-block;
	width: 100%;
    height: 30px;
    margin-top: 1em;
	vertical-align: top;
	text-align: center;
}
/* Add a background color on hover */
.btn-group button:hover{
	background-color: #ffffff;
	border: 1px solid #c56ed4; /* Green border */
	color: #c56ed4; /* White text */
  }
  .btn-group button:hover a:hover{
	color: #c56ed4; /* White text */
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
	.thumbnail {
		width: 100px;
		border-radius: 200px;
		height: 100px;
		margin-left: auto;
	}
	.thumbnail_align {
		text-align: center;
	}
	.social {
		text-align: center;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		background-color: #414141;
		clear: both;
		overflow: auto;
	}
	.social_icon {
		width: 25%;
		text-align: center;
		float: left;
		transition: all 0.3s linear;
		line-height: 0px;
		padding-top: 7px;
	}
	.container .social .social_icon:hover {
		cursor: pointer;
		opacity: 0.5;
	}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
#header-logos-right-container {
	float:right;
	text-align: right;
}

#header-logos-right-container a {
	color: white;
	font-size: 12pt;
	padding: 3pt;
}

/* Add a background color on hover */
.btn-group button:hover{
	background-color: #ffffff;
	border: 1px solid #c56ed4; /* Green border */
	color: #c56ed4; /* White text */
  }
  .btn-group button:hover a:hover{
	color: #c56ed4; /* White text */
  }
}

@media (min-width: 1301px) {
	.thumbnail {
		width: 100px;
		border-radius: 200px;
		height: 100px;
		margin-left: auto;
	}
	.thumbnail_align {
		text-align: center;
	}
	.social {
		text-align: center;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		background-color: #414141;
		clear: both;
		overflow: auto;
	}
	.social_icon {
		width: 25%;
		text-align: center;
		float: left;
		transition: all 0.3s linear;
		line-height: 0px;
		padding-top: 7px;
	}
	.container .social .social_icon:hover {
		cursor: pointer;
		opacity: 0.5;
	}

	#header-logos-right-container {
		float:right;
		text-align: right;
	}

	#header-logos-right-container a {
		color: white;
		padding: 3pt;
	}

	/* Add a background color on hover */
	.btn-group button:hover{
		background-color: #ffffff;
		border: 1px solid #c56ed4; /* Green border */
		color: #c56ed4; /* White text */
	  }
	  .btn-group button:hover a:hover{
		color: #c56ed4; /* White text */
	  }
}