---
layout: learn
---

<h1>Blackboard Learn</h1>

<p>
    Blackboard Learn is our flagship product. Learn is a Learning Management System designed to give teachers and learners a home to share content, communicate, and submit assignments.
    This section is designed to show you, the developer, how to build integrations with Blackboard Learn.
</p>

<h2>In this section:</h2>

{% if site.data.learn[0] %}
<ul>
    {% for item in site.data.learn %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            <ul>
                {% for entry in item.categories %}
                    <li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
                        <ul>
                            {% for subentry in entry.topics %}
                                <li><a href="{{ subentry.link }}">{{ subentry.name }}</a></li>
                            {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endif %}