.display {
  display: block;
}

.hidden {
  display: none;
}

.btn:visited,
.btn:focus,
.btn:active {
  background-color: #000 !important;
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  font-size: 16px;
}

code {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
}

iframe {
  width: 100%;
  height: 800px;
  border-color: white;
  border-width: 0px;
}

code {
  word-break: break-all !important;
  display: inline-block !important;
  max-width: 100%;
  white-space: pre-wrap;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.code-text-to-normal {
  white-space: normal !important;
}

main p {
  text-align: left;
}

.embed-video {
  height: 400px !important;
}
.sidenav li.active {
  background-color: #bf69bf;
}

main ul {
  padding-left: 40px !important ;
}

main img {
  max-width: 90%;
  margin: 0% 0% 0% 0%;
}

main li {
  list-style: disc !important;
  list-style-type: disc !important;
}

ul:not(.browser-default) > li {
  list-style-type: disc !important;
}
strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

.center-image {
  margin: 0 auto;
  display: block;
}

/* HEADER */

header {
  background-color: #262626;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

#anthologylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  margin: 22px 0px 0px 30px;
}

#anthologylogoheader {
  height: 30px;
  width:auto;
  margin: 22px 20px 20px 30px;
}

#dev-docs-span-text {
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin-left: 5px;
  min-height: 100px;
  display: inline-flex;
  align-items: center;
}

.download-button {
  height: 30px;
  width:auto;
}

.download-btn-placement {
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: 50px 100px;
}

.header-logo-and-title {
  float:left;
}

.header-buttons {
  float: right;
}
.header-buttons i {
  color: white;
  margin: 16px 10px 0px 0px;
}

/* MENU */

.menu {
  float: left;
  background-color: #f8f8f8;
  padding-top: 75px;
  display: block;
  z-index: 9999
}

#menu-trigger {
  display: none;
}
.col-menu {
  width: 290px;
}

.accordion-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion-menu li.open > ul {
  display: block;
}
.accordion-menu li > ul {
  /* position: absolute; */
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
  /*margin-left: 25px;*/
}
.accordion-menu ul.is-visible {
  display: block;
  /* height: auto; */
}
.accordion-menu li {
  /*border-bottom: 1px solid rgba(194, 194, 194, 0.333); */
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  color: black;
}
.accordion-menu li:last-child {
  border: none;
}
.accordion-menu li::after {
  content: "";
  display: block;
  clear: both;
}
/*
.accordion-menu li > a > svg {
  display: block;
  position: relative;
  fill: rgb(48, 48, 48);
  width: 10px;
  float: right;
  transition: all .3s ease;
  margin-top: 17px;
}
.accordion-menu li.open > a > svg {
  transform: rotate(90deg);
}
*/
.accordion-menu a {
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;*/
  align-items: center;
  text-decoration: none;
  color: black;
}
.accordion-menu * {
  box-sizing: border-box;
}

.first-level {
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
}

.second-level {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
}

.third-level {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
}

.content {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
}
.content a {
  border-left-color: #cdcdcd;
  border-left-style: solid;
  border-left-width: 6px;
}

/* Main menu header */
.main-mainContent {
  padding-left: 4%;
  width: 77%;
  float: left;
  padding-right: 2%;
}
.mainContent {
  /* Container for the blog post in individal blog view */
  padding-left: 2%;
  width: 71%;
  float: left;
  padding-right: 2%;
}

/* HOME PAGE*/

.homeContent {
  /* Container for the blog post in individal blog view */
  padding-left: 2%;
  width: 78%;
  float: left;
  padding-right: 2%;
  margin-top: 50px;
  font-size: 18px;
  padding-bottom: 4%;
}

#home-title {
  font-weight: 800;
}
.home-left {
  margin: 0px;
  float: left;
  width: 30%;
  height: auto;
  margin-left: 5%;
}
.home-right {
  width: 60%;
  margin: 0px;
  padding: 0px;
  float: right;
}

.home-right h1 {
  margin: 0px;
  font-size: 60px;
}

.home-right p {
  font-size: 25px;
}

#search-container input {
  width: 50% !important;
  border: solid !important;
  border-width: 1px !important;
  padding-left: 10px !important;
  background-color: black;
  color: white;
  height: 46px !important;
}

#search-container input:active {
  border-color: #000000 !important;
  border: solid !important;
  box-shadow: none !important;
}
#search-container input:focus {
  border-color: #000000 !important;
  border: solid !important;
  box-shadow: none !important;
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.icon-for-input {
  float: left;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 0px;
  margin-top: 1px;
  height: 46px;
  background-color: black;
  color: white;
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  /* border-bottom: 1px solid black !important;
  -webkit-box-shadow: 0 1px 0 0 black !important;
  box-shadow: 0 1px 0 0 black !important; */
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.home-right i {
  padding-top: 1%;
}
.home-right button {
  height: 47px;
  padding: 0px 12px 0 12px;
  margin-left: 8px;
  background-color: black;
  color: white;
  border-radius: 6px;
}

.home-h2 {
  font-weight: 800;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.home-secondPart {
  margin-left: 5%;
}

.home-secondary-buttons {
  background-color: white;
  color: black;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  text-transform: none;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  margin-right: 25px;
}

.home-secondary-buttons:hover {
  /* background-color: #a35ca3; */
  background-color: #e8e8e8;
  color: black;
  border-color: black;
}
.home-secondPart ul {
  padding-left: 0px !important;
  list-style-type: none !important;
}
.home-secondPart li {
  list-style-type: none !important;
}
ul:not(.browser-default) > li {
  list-style-type: none !important;
}
.home-secondPart li a {
  color: black;
  text-decoration: underline;
}

.home-secondPart li a:hover {
  text-decoration: none;
}
#content #sidebar {
  /* Sidebar*/
  width: 19%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
  background-color: rgba(246, 246, 246, 1);
}

#sidebar ul a {
  color: #000000 !important;
  text-decoration: none !important;
}

#sidebar ul a:hover {
  color: #000000 !important;
  text-decoration: underline !important;
}

svg {
  display: none;
}

.menu i {
  margin-right: 15px;
}

/* BODY */

main {
  padding-top: 30px;
  display: block;
  width: 66%;
  float: left;
  padding-left: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h1 {
  font-size: 42px;
  margin-bottom: 50px;
  line-height: 45px;
  font-weight: 400;
  margin-top: 60px;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 36px;
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 36px;
  font-weight: 400;
}

.toc-parent {
  float: right;
  display: block;
  margin-right: 3%;
  margin-top: 1%;
}
.table-of-contents {
  word-break: break-word;
  position: sticky;
  top: 90px;
}

.table-of-contents li {
  list-style: none !important;
  list-style-type: none !important;
}

/* #body_before_container {
  background-color: white;
  border: 0px;
  padding: 30px 0px 0px 0px;
  margin: 0px;
} */

.home_welcome_rows {
  text-align: justify;
}
.home_welcome_rows_icons {
  text-align: center;
}

.page-footer {
  background-color: #000000;
}
.page-footer a:hover {
  color: #bb72bb !important;
}

/*  ----  ROUGIFY STYLES ---- */

.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}

.highlight {
  color: #faf6e4;
  background-color: #212529;
  margin-top: 15px;
  margin-bottom: 15px;
}
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .err {
  color: #fefeec;
}
.highlight .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.highlight .k,
.highlight .kd,
.highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .o,
.highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .p,
.highlight .pi {
  color: #4df4ff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #b2fd6d;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .sr,
.highlight .s1 {
  color: #fff0a6;
  /* font-weight: bold; */
}
.highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .si {
  color: #4df4ff;
  /*font-weight: bold;*/
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .go {
  color: #bbbbbb;
}
.highlight .nf,
.highlight .fm {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}

/* end of code snipped highlighter */

footer h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.table-of-contents a {
  border-left-color: rgb(205, 205, 205);
  border-left-style: solid;
  border-left-width: thick;
}

.table-of-contents a:hover {
  border-left-color: #a234b5 !important;
  border-left-style: solid;
  border-left-width: thick;
}

/* TABLE OF CONTENTS */

.table-of-contents ul:not(.browser-default) {
  padding-left: 0;
  width: 150px;
  list-style-type: none;
}

#table-of-contents {
  word-break: break-word;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 14px;
  border-left: 2px solid #a234b5;
}

/* Search box */

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

/* STATUS IN PAGES */

.deprecatedPage {
  height: 80px;
  margin-top: 30px;
  background-color: #b53434;
  color: white;
  font-size: 24px;
}

.deprecatedPage p {
  width: 100%;
}

.draftPage {
  height: 80px;
  margin-top: 30px;
  background-color: #b59f34;
  color: white;
  padding-left: 46%;
  padding-top: 0px;
  font-size: 24px;
}

/* SEARCH */

.tipue_search_right input {
  height: 1rem !important;
}

#tipue_search_content nav {
  background-color: #f8f8f8 !important;
}

#tipue_search_content {
  padding-bottom: 50px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.site-tag a {
  display: inline-block;
  margin-right: 12px;
}

.purple-text {
  color: #a235b5 !important;
  font-size: smaller !important;
}

a.purple-text:hover {
  text-decoration: underline !important;
}

/* Testing built in card with https://www.zeolearn.com/magazine/how-to-easily-create-modern-material-design-cards-with-html-and-css */
.card {
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  margin: 8px;
  width: 290px;
  overflow: hidden;
  position: relative;
}
.card::after {
  clear: both;
}
.card::after,
.card::before {
  content: "";
  display: block;
}

.optional-header {
  min-height: 50px;
  padding: 5px;
  position: relative;
  background-color: #000000;
}

.optional-header .action-icons {
  float: right;
  position: relative;
  right: -8px;
  top: 2px;
}

.optional-header .primary-title {
  bottom: auto;
  display: inline-block;
  margin: 0 5px;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.optional-header + .primary-text {
  margin-top: calc(24px / 2 / 2);
}

.optional-header + .supporting-text {
  padding-top: 0;
}

.primary-title .optional-header {
  padding-left: 5px;
  padding-right: 0;
}

.subhead,
.secondary-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.title + .subhead {
  /* margin-top: 7px; */
  color: #ffffff;
}

.title {
  line-height: 1.2;
}

.thumbnail {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 40px;
  position: relative;
  width: 40px;
  background-color: #fff;
}
.thumbnail img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.thumbnail--24x24 img {
  height: 24px;
  width: 24px;
}
.thumbnail--28x28 {
  margin-right: 4px;
}
.thumbnail--28x28 img {
  height: 28px;
  width: 28px;
}
.thumbnail--32x32 {
  margin-right: 8px;
}
.thumbnail--32x32 img {
  height: 32px;
  width: 32px;
}
.thumbnail--36x36 {
  margin-right: 12px;
}
.thumbnail--36x36 img {
  height: 36px;
  width: 36px;
}
.thumbnail--40x40 {
  margin-right: 16px;
}
.thumbnail--40x40 img {
  height: 40px;
  width: 40px;
}

.primary-title + .supporting-text,
.optional-header + .supporting-text {
  padding-top: 0;
}

.primary-text {
  font-size: 24px;
  padding: 0 16px;
  line-height: 28px;
}

.supporting-text {
  font-size: 14px;
  line-height: 1.5;
  padding: 16px;
}

.action-buttons,
.action-icons {
  display: inline-block;
  vertical-align: middle;
}

.action-icon {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 2px;
  outline: none;
  padding: 6px;
}

.action-icons {
  color: rgba(0, 0, 0, 0.54);
}

.actions {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  position: relative;
  z-index: 1;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #000000 !important;
  margin-right: 0 !important;
}

.row .col {
  margin-bottom: 20px;
}

.center-content {
  text-align: left;
}

.homeContent ul li a:hover {
  color: #000;
}
#results-container a {
  color: #000;
}

#results-container a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

/* 404 Page */
.homeContent404 {
  width: 75%;
  text-align: center;
  float: left;
}
.homeContent404 p {
  text-align: center !important;
  font-size: 23px;
}

.homeContent404 h1 {
  margin-top: 50px;
  font-size: 60px;
  font-weight: bolder;
}

.home-rest-apis-ul ul {
  padding-left: 0px !important;
}

.home-rest-apis-ul ul a {
  color: black;
  text-decoration: underline;
}

.home-rest-apis-ul ul a:hover {
  text-decoration: none;
}

.spacey-p {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 150%;
}

.home-secondary-buttons-black {
  background-color: black;
  color: white;
}

/* MOBILE */

@media only screen and (max-width: 1499px) {
  .maincontent {
    width: 60%;
  }
  .homeContent,
  .homeContent404 {
    width: 70%;
  }
  .secondImg {
    display: none;
  }
  .home-left {
    padding-top: 4%;
  }
}

@media only screen and (max-width: 1250px) {
  .maincontent,
  .homeContent,
  .homeContent404 {
    width: 55%;
  }

  .home-left {
    padding-top: 10%;
  }

  .secondImg {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .maincontent,
  .homeContent,
  .homeContent404 {
    width: 70%;
  }

  .secondImg {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .maincontent,
  .homeContent404 {
    width: 65%;
  }
  .center-content {
    text-align: center;
  }
  .home-left {
    display: none;
  }
  .home-right {
    float: left;
    width: 100%;
    text-align: center !important;
  }
  .home-right p {
    text-align: center !important;
  }
  .homeContent {
    width: 63%;
  }
  .table-of-contents {
    display: none;
  }
  .secondImg {
    display: initial;
  }
}

@media only screen and (max-width: 970px) {
  .mainContent {
    width: 63%;
  }
}

@media only screen and (max-width: 852px) {
  .maincontent {
    width: 62%;
  }

  .first-group-buttons a:first-of-type {
    margin-bottom: 20px;
  }
  .center-content {
    text-align: center;
  }
  .menu {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .maincontent {
    width: 94%;
  }
  .homeContent,
  .homeContent404 {
    width: 100%;
  }
  .table-of-contents {
    display: none;
  }
  .home-right h1 {
    font-size: 200%;
  }

  #menu-trigger {
    display: inline;
  }
  .center-content a:first-of-type {
    margin-bottom: 0px;
  }
  header {
    text-align: center;
  }
  .header-buttons {
    height: 31px;
    background-color: #b5b5b5;
    display: block;
    z-index: 999;
    float: none;
  }
  .header-buttons i {
    margin: 5px 10px 0px 0px;
    color: black;
  }
}
@media only screen and (max-width: 524px) {
  .center-content a:first-of-type {
    margin-bottom: 20px;
  }

  .second-group-buttons a {
    margin-bottom: 0px !important;
  }
}

@media only screen and (max-width: 483px) {
  .second-group-buttons a {
    margin-bottom: 20px !important;
  }
  #search-container input {
    width: 70% !important;
  }
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}


