---
layout: standards
---

<h1>Standards</h1>

<p>This is space for the community to make contributions around working with
    educational technology standards. We are especially interested in standards
    put forth by <a href="https://www.imsglobal.org" target="_blank">IMS Global</a>.</p>

<h2>In this section:</h2>
{% if site.data.standards[0] %}
    <ul>
        {% for item in site.data.standards %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                <ul>
                {% for entry in item.categories %}
                    <li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
                        <ul>
                        {% for subentry in entry.topics %}
                            <li><a href="{{ subentry.link }}">{{ subentry.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endif %}