{% include header.html %}
{% include menu.html %}

<main class="homeContent404">
<h1>404 - Not Found</h1>
<img src="/assets/img/404.png" alt="women looking on binoculars between some leaves">
<p>We couldn't find the documentation you're looking for. You can go back to our <a href="/">home</a> or try a keyword and we'll help you find what you need.</p>

<div class="input-and-icon">
    <div id="search-container">
      <i class="material-icons prefix">search</i>
      <input id="search-input" class="search" type="text" title="Search" placeholder="Search" autocomplete="off" />
      <ul id="results-container"></ul>
    </div>
  </div>
</main>

{% include footer.html %}