---
layout: default
---
<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
        {% if site.data.standards[0] %}
            <ul>
                {% for item in site.data.standards %}
                        <li><a href="{{ item.link }}" class="header-section-link" >{{ item.name }}</a></li>
                        {% if item.parentId == page.parent %}
                            <ul>
                                {% for entry in item.categories %}
                                    <li><a href="{{ entry.link }}" class="header-section-link" >{{ entry.name }}</a></li>
                                    {% if entry.category == page.category %}
                                        <ul>
                                            {% for subentry in entry.topics %}
                                                <li><a href="{{ subentry.link }}" class="header-section-link" >{{ subentry.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
            
    </div>
      
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <!-- Use any element to open the sidenav -->
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    {{ content }}
</div>